
mixin footer
    <footer class="bg-dark text-white font-small mdb-color pt-3">

        <div class="container text-center text-md-left">

        <div class="row text-center text-md-left mt-2 pb-2">

            <div class="col-md-3 col-lg-3 col-xl-3 mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
            <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
                adipisicing elit.</p>
            </div>

            <hr class="w-100 clearfix d-md-none">
            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-4 col-lg-3 col-xl-3 mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p>
                    |   Bangalore, India
                </p>
                <p>
                    |   praneshpsg239@gmail.com
                </p>
                <p>
                    |   +9940945067
                </p>
            </div>

        </div>

        <hr>

        <div class="row d-flex align-items-center justify-content-center">
            <p class="text-center text-md-left">with ❤
                <a class="text-danger" href="https://github.com/pranesh239">
                    <strong> Pranesh</strong>
                </a>
            </p>
        </div>

        </div>

    </footer>